* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto'; }

body {
  background-color: #dee8f3;
  min-height: 100vh; }

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; }

.main {
  padding: 60px 0; }
  .main .month {
    color: #404040;
    font-size: 18px;
    display: flex;
    gap: 60px;
    margin-bottom: 140px; }
    .main .month .tb-todo {
      padding: 90px 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: 10px; }
      .main .month .tb-todo .annotation {
        width: calc(50% - 10px);
        padding: 15px 15px 30px 15px;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba(64, 64, 64, 0.1);
        background-color: white;
        position: relative; }
        .main .month .tb-todo .annotation h3 {
          font-size: 15px;
          margin-bottom: 5px; }
        .main .month .tb-todo .annotation p {
          font-size: 13px;
          word-break: break-all; }
        .main .month .tb-todo .annotation span {
          display: block;
          margin-top: 2px;
          font-size: 11px;
          font-weight: bold; }
          .main .month .tb-todo .annotation span#red {
            color: #ef5350; }
          .main .month .tb-todo .annotation span#blue {
            color: #5c6bc0; }
          .main .month .tb-todo .annotation span#pink {
            color: #f06292; }
          .main .month .tb-todo .annotation span#orange {
            color: #ff9800; }
          .main .month .tb-todo .annotation span#green {
            color: #4caf50; }
          .main .month .tb-todo .annotation span#lilac {
            color: #d1c4e9; }
          .main .month .tb-todo .annotation span#yellow {
            color: #e2ce18; }
        .main .month .tb-todo .annotation .deleteAnnotation {
          width: 20px !important;
          height: 20px !important;
          border: 0;
          background-color: transparent;
          font-weight: bold;
          color: #cacaca;
          font-family: cursive !important;
          position: absolute;
          bottom: 10px;
          right: 10px;
          cursor: pointer; }
          .main .month .tb-todo .annotation .deleteAnnotation:hover {
            color: #989898; }
    .main .month h2 {
      font-weight: lighter;
      font-size: 40px; }
    .main .month .div-table {
      display: flex;
      flex-direction: column;
      gap: 40px; }
      .main .month .div-table .create-annotation {
        width: 100%; }
        .main .month .div-table .create-annotation textarea {
          width: 100%;
          padding: 15px;
          font-size: inherit;
          resize: vertical;
          outline: 0;
          border: 2px solid #d6d6d6;
          border-radius: 15px;
          margin-bottom: 15px;
          min-height: 78px; }
        .main .month .div-table .create-annotation .selectedDaysContainer {
          display: flex;
          align-items: flex-start;
          min-height: 30px;
          gap: 15px;
          margin-bottom: 10px; }
          .main .month .div-table .create-annotation .selectedDaysContainer h5 {
            font-weight: normal;
            font-size: 20px; }
          .main .month .div-table .create-annotation .selectedDaysContainer .selectedDays {
            display: flex;
            flex-wrap: wrap;
            max-width: 230px;
            gap: 10px; }
            .main .month .div-table .create-annotation .selectedDaysContainer .selectedDays .selectedDay {
              font-size: 18px !important;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              outline: 2px solid #404040;
              padding-right: 1px;
              user-select: none;
              -webkit-user-select: none; }
        .main .month .div-table .create-annotation h4 {
          font-weight: normal;
          font-size: 20px;
          margin-bottom: 10px; }
        .main .month .div-table .create-annotation .create-button {
          width: 50%;
          padding: 10px 25px;
          font-weight: inherit;
          border: 0;
          border-radius: 15px;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 18px;
          color: white;
          background-color: #404040;
          box-shadow: 0px 10px 10px -4px rgba(64, 64, 64, 0.6);
          cursor: pointer; }
        .main .month .div-table .create-annotation .colors {
          border: 2px solid #d6d6d6;
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 30px;
          margin-bottom: 15px;
          padding: 25px;
          background-color: white;
          border-radius: 15px; }
          .main .month .div-table .create-annotation .colors button {
            width: 25px;
            height: 25px;
            border: 0;
            border-radius: 50%;
            cursor: pointer;
            position: relative; }
            .main .month .div-table .create-annotation .colors button#red {
              background-color: #ef5350;
              box-shadow: 0px 0px 5px #ef5350; }
            .main .month .div-table .create-annotation .colors button#blue {
              background-color: #5c6bc0;
              box-shadow: 0px 0px 5px #5c6bc0; }
            .main .month .div-table .create-annotation .colors button#pink {
              background-color: #f06292;
              box-shadow: 0px 0px 5px #f06292; }
            .main .month .div-table .create-annotation .colors button#orange {
              background-color: #ff9800;
              box-shadow: 0px 0px 5px #ff9800; }
            .main .month .div-table .create-annotation .colors button#green {
              background-color: #4caf50;
              box-shadow: 0px 0px 5px #4caf50; }
            .main .month .div-table .create-annotation .colors button#lilac {
              background-color: #d1c4e9;
              box-shadow: 0px 0px 5px #d1c4e9; }
            .main .month .div-table .create-annotation .colors button#yellow {
              background-color: #e2ce18;
              box-shadow: 0px 0px 5px #e2ce18; }
            .main .month .div-table .create-annotation .colors button tooltip {
              visibility: hidden;
              width: 120px;
              background-color: #555;
              color: #fff;
              text-align: center;
              padding: 5px 0;
              border-radius: 6px;
              /* Position the tooltip text */
              position: absolute;
              z-index: 1;
              bottom: 125%;
              left: 50%;
              margin-left: -60px;
              /* Fade in tooltip */
              opacity: 0;
              transition: opacity 0.3s; }
            .main .month .div-table .create-annotation .colors button tooltip::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: #555 transparent transparent transparent; }
            .main .month .div-table .create-annotation .colors button:hover tooltip {
              visibility: visible;
              opacity: 1; }
      .main .month .div-table table {
        padding: 15px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 15px 20px -5px rgba(64, 64, 64, 0.4);
        width: 400px; }
        .main .month .div-table table thead {
          font-weight: bold; }
        .main .month .div-table table tr {
          display: flex;
          margin: 15px 0; }
          .main .month .div-table table tr td {
            font-size: 18px !important;
            width: 30px;
            height: 30px;
            margin: 0 12px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #b6b6b6;
            user-select: none;
            -webkit-user-select: none;
            padding-right: 1px; }
            .main .month .div-table table tr td[invalidDay] {
              visibility: hidden; }
        .main .month .div-table table tbody td {
          cursor: pointer; }
